<template>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="note in notes">
          <td><a v-bind:href="book.url">{{book.title}}</a></td>
          <td>{{book.author}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Firebase from 'firebase';
import VueFire from 'vuefire'
Vue.use(VueFire)

export default {
  name: 'hello',
  notesRef: db.ref('notes'),
  firebase: {
    notes: notesRef
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },

  methods: {
    reverseMessage: function() {
      this.msg = this.msg.split('').reverse().join('');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
