

<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>

<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view></router-view>
  </div>
</template>

<script>
  let config = {
    apiKey: "AIzaSyD5m3w2dQHjgMfga1oRyXw0bfim9au92Kg",
    authDomain: "aitisi-io.firebaseapp.com",
    databaseURL: "https://aitisi-io.firebaseio.com",
    projectId: "aitisi-io",
    storageBucket: "aitisi-io.appspot.com",
    messagingSenderId: "473491175552"
  };
  firebase.initializeApp(config);

let app = Firebase.initializeApp(config);
let db = app.database();
  export default {
    name: 'app',
    db: db
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
